

<li>
    {{#eq this.dataValues.category "Personal Grooming"}}<img src="/assets/Shampoo.png" alt="grooming" width="50px">{{/eq}}
    {{#eq this.dataValues.category "Food"}} <img src="/assets/Bowl.png" alt="food" width="100px">{{/eq}}
    {{#eq this.dataValues.category "Exercise"}}<img src="/assets/Ball.png" alt="exercise" width="50px">{{/eq}}
    {{#eq this.dataValues.category "Cleaning"}}<img src="/assets/Shovel.png" alt="cleaning" width="50px">{{/eq}}
    <div class="task-listed">
        {{this.dataValues.activityName}}
        <button class="delete-activity" data-id="{{this.dataValues.id}}">Delete</button>
        <button class="complete btn-task" data-id="{{this.dataValues.id}}"
            data-value="{{this.dataValues.priority}}">Complete</button>
    </div>
    {{!-- <button data-updatetask="{{id}}" data-category="{{category}}" class="update-activity">Update</button> --}}
</li>