<li>
    {{#if category=personal-grooming}}<img src="/assets/Shampoo.png" alt="grooming" width="50px">{{/if}}
    {{#if category=food}}<img src="/assets/Bowl.png" alt="food" width="100px">{{/if}}
    {{#if category=exercise}}<img src="/assets/Ball.png" alt="exercise" width="50px">{{/if}}
    {{#if category=cleaning}}<img src="/assets/Shovel.png" alt="cleaning" width="50px">{{/if}}
    {{activityName}}
    <button class="complete" data-id="{{id}}" data-category="{{category}}">Complete</button>
	<button data-updatetask="{{id}}" data-category="{{category}}" class="update-activity">Update</button>
    <button data-deletetask="{{id}}" class="delete-activity">Delete</button>
</li>

<script>
    $(document).ready(function () {

        function getAuthors() {
            $.get("/api/authors", function (data) {
                var rowsToAdd = [];
                for (var i = 0; i < data.length; i++) {
                    rowsToAdd.push(createAuthorRow(data[i]));
                }
                renderAuthorList(rowsToAdd);
                nameInput.val("");
            });
        }

        $(".delete-activity").on("click", function (event) {
            event.preventDefault();
            let taskid = $(this).data("deletetask");

            $.delete("/api/activity/" + taskid)
            .then(function() {
                console.log("deleted activity id: " + taskid);
                location.reload();
            });
        });
    });

</script>