<li>
    {{!-- {{#if this.dataValues.category="personal-grooming"}}<img src="/assets/Shampoo.png" alt="grooming" width="50px">{{/if}} --}}
    {{!-- {{#if category=food}}<img src="/assets/Bowl.png" alt="food" width="100px">{{/if}} --}}
    {{!-- {{#if category=exercise}}<img src="/assets/Ball.png" alt="exercise" width="50px">{{/if}} --}}
    {{!-- {{#if category=cleaning}}<img src="/assets/Shovel.png" alt="cleaning" width="50px">{{/if}} --}}
    <div class="task-listed">
        {{this.dataValues.activityName}}
        <button class="complete btn-task" data-id="{{this.dataValues.id}}" data-value="{{this.dataValues.priority}}">Complete</button>
    </div>
    {{!-- <button data-updatetask="{{id}}" data-category="{{category}}" class="update-activity">Update</button> --}}
    {{!-- <button data-deletetask="{{id}}" class="delete-activity">Delete</button> --}}
</li>