<div class="container-fluid px-0">
<nav class="navbar navbar-expand-lg">
    <div class="row d-flex justify-content-center no-gutters">
    <div class="col-md">
    <h1 class="header">
        Self-Care Sidekick
    </h1>
    </div>
    <div class="col-md" id="navbarSupportedContent">
        <a class="navbar-brand" href="/logout">
            <button class="btn">Logout</button>
        </a>
    </div>
    </div>

</nav>
</div>

<p></p>

<div class="card container card-bg">

  <div class="card-body">
        <h3 class="sidekickName header"></h3>


        <div class="row divContent">
            <div class="col-md-4">
                {{!-- imgDiv to hold sidekick img --}}
                <div class="imgDiv"></div>

                {{!-- happinessPoints progress bar --}}
                <p>
                    {{> status}}
                </p>

                {{> graph}}
                {{!-- buttons to bring up modals --}}
                <p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Add Activity
                    </button>
                    <br>
                    <button class="btn">See History</button>
                    <br>
                    {{> sleep-wake sleep=false}}
                </p>
            </div>

            {{!-- Div to hold added activities --}}
            <div class="col-md-8 tasks-block">
                Test Task

                <button class="complete" data-id="{{id}}" data-category="{{category}}" data-value="50">Complete</button>
	            <button data-updatetask="{{id}}" data-category="{{category}}" class="update-activity">Update</button>
                <button data-deletetask="{{id}}" class="delete-activity">Delete</button>

                    <ul>
                        {{#each activityObject.test}}
                            {{>activity-block}}
                        {{/each}}
                        
                    </ul>

            </div>
        </div>
    </div>
</div>

<p></p>

<footer class="footer">

  <p id = "nodemailer">
        Think a friend could benefit from having a sidekick? <a href="" data-toggle="modal" data-target="#inviteModal">Invite them!</a>
    </p>
    {{> invite}}
    <p>
    Contributors and Credits: <a href="https://github.com/AnnaxGrace" target="_blank">Anna</a> || <a href="https://github.com/sharlenemay" target="_blank">Sharlene</a> || <a href="https://github.com/tiiedye" target="_blank">Jace</a> || <a href="https://github.com/returntrip444" target="_blank">Daniel</a> || Images sourced from: <a href="https://www.freevector.com/" target="_blank">FreeVector</a>
    </p>

</footer>

{{!-- Add Activity Modal --}}
{{> add-activity-modal}}

<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="/js/members.js"></script>

<script src="/js/modal.js"></script>
<script src="/js/add-activity.js"></script>
{{!-- <script src="/js/homepage.js"></script> --}}

<script>
    //$(document).ready(function () {
        //const membersAvatar = require("/js/members.js");
        //showMemberAvatar();
        //let activities = [];
        //let category = $("#selectCategory option:selected").text();
        //let difficulty = $(".form-check-input:checked").val();
        //const activityname = $("#addActivity");

        //$("#savenewtask").on("click", function () {
            //const activityData = {
                //activityName: activityname.val().trim(),
              //  priority: difficulty,
              //  category: category
            //}

            //console.log("********",activityData);

           // createActivity(activityData.activityName, activityData.priority, activityData.category, activityData)
       // });

        //function createActivity(activityName, priority, category, activityData){


            //$.post("/api/activity", function(data){
            //    alert("success");
            //}).then(function () {
            //    console.log("new activity added: " + activityData);
            //});
       // }

    //})
</script>

