<nav class="navbar">
    <h1 class="header">
        Self-Care Sidekick
    </h1>
    <a class="navbar-brand" href="/logout">
        Logout
    </a>

</nav>

<div class="card container card-bg">

  <div class="card-body">
        <h3 class="sidekickName"></h3>


        <div class="row divContent">
            <div class="col-md-4">
                {{!-- imgDiv to hold sidekick img --}}
                <div class="imgDiv"></div>

                {{!-- happinessPoints progress bar --}}
                <p>
                    {{> status}}
                </p>

                {{> graph}}
                {{!-- buttons to bring up modals --}}
                <p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Add Activity
                    </button>
                    <br>
                    <button class="btn">See History</button>
                    <br>
                    {{> sleep-wake sleep=false}}
                </p>
            </div>

            {{!-- Div to hold added activities --}}
            <div class="col-md-8 tasks-block">
                Test Task

                  <button class="complete" data-id="{{id}}" data-category="{{category}}" data-value="50">Complete</button>
	                <button data-updatetask="{{id}}" data-category="{{category}}" class="update-activity">Update</button>
                  <button data-deletetask="{{id}}" class="delete-activity">Delete</button>

                    <ul>
                        {{#each Activities}}
                            {{!-- {{>activity-block}} --}}
                            {{this.activityName}}
                        {{/each}}
                        
                    </ul>

            </div>
        </div>
    </div>
</div>

<footer class="footer">

  <p id = "nodemailer">
        Think a friend could benefit from having a sidekick? <a href="" data-toggle="modal" data-target="#inviteModal">Invite them!</a>
    </p>
    {{> invite}}
    <p>
    Contributors and Credits: <a href="https://github.com/AnnaxGrace" target="_blank">Anna</a> || <a href="https://github.com/sharlenemay" target="_blank">Sharlene</a> || <a href="https://github.com/tiiedye" target="_blank">Jace</a> || <a href="https://github.com/returntrip444" target="_blank">Daniel</a> || Images sourced from: <a href="https://www.freevector.com/" target="_blank">FreeVector</a>
    </p>

</footer>

{{!-- Add Activity Modal --}}
{{> add-activity-modal}}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="/js/members.js"></script>
{{!-- <script src="/js/homepage.js"></script> --}}